.video-previews-container, #big-form, #big-form div fieldset, #big-form #main-forms #slide-maker, #big-form #main-forms #slides-container .slide .section-forms-container .section-form .section-form-data, #big-form #main-forms #slides-container .slide .section-forms-container .section-form .section-form-data .section-form-inputs, #big-form #main-forms #slides-container .slide .section-forms-container .section-form .section-form-data .section-nav-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

#big-form button {
  background: #4d94ff;
  color: white;
  border: none;
  padding: .3rem .7rem;
  margin: .5rem auto;
  display: block;
  transition: background 150ms;
  font-size: .75rem; }
  #big-form button:hover {
    background: #1D88E3; }
  #big-form button:active {
    background: #6EB0E8; }

#big-form {
  width: 50%;
  min-width: 360px;
  border: 2px solid black;
  margin: 1rem auto; }
  #big-form label {
    display: block;
    margin-top: 1rem; }

html, body {
  margin: 0;
  padding: 2rem 0 0 0;
  font-size: 18px;
  background: #141518;
  position: relative; }

nav {
  background: #3576D4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0; }
  nav a {
    text-decoration: none;
    width: 100px;
    padding: 12px;
    background: #111;
    textDecoration: none;
    color: white;
    text-align: center;
    width: auto;
    transition: background 150ms; }
    nav a:visited {
      background: #3576D4; }
    nav a:hover {
      background: #3C8CFF; }
    nav a:active {
      background: #89B9FF; }
    nav a:last-child {
      margin-right: 1rem; }
  nav #nav-logo {
    margin-top: 0;
    margin-right: auto; }

img {
  height: 10rem; }

.slide {
  background: #555;
  padding: .5rem;
  margin: 1rem; }
  .slide .slide-data, .slide .sections .section .section-data, #big-form #main-forms #slides-container .slide .section-forms-container .section-form .section-form-data {
    background: #4d94ff;
    color: white;
    padding: .5rem; }
    .slide .slide-data h2, .slide .sections .section .section-data h2, #big-form #main-forms #slides-container .slide .section-forms-container .section-form .section-form-data h2 {
      margin: 0; }
  .slide .sections {
    margin: 1rem 0;
    padding: .5rem 0;
    background: #AAA; }
    .slide .sections h2 {
      margin: 1rem; }
    .slide .sections .section {
      background: #CCC;
      padding: .5rem;
      margin: 1rem auto;
      width: 90%; }
      .slide .sections .section textarea {
        width: 80%;
        display: block;
        margin: 0 auto; }

.slide .sections .section .code-snippet, .slide-show pre, #big-form #main-forms #slides-container .slide .section-forms-container .section-form .code-snippet {
  color: lightgreen;
  background: black;
  width: 80%;
  font-family: monospace;
  overflow: auto;
  height: 20rem;
  margin: 1rem auto;
  display: block; }

.slide-show {
  margin: 1rem auto;
  border: 2px solid black;
  width: 50%; }
  .slide-show h2 {
    color: #777;
    margin: 1rem; }
  .slide-show p {
    text-align: center; }
  .slide-show pre {
    height: auto;
    padding: 1rem; }
  .slide-show a {
    display: block;
    width: 100%;
    text-align: center;
    margin: 1rem 0; }
  .slide-show figure {
    width: 95%;
    display: block;
    margin: 1rem auto;
    padding: .5rem; }
    .slide-show figure img {
      display: block;
      margin: 0 auto;
      height: 100%;
      max-height: 15rem; }
    .slide-show figure figcaption {
      color: #111;
      text-align: center;
      margin-top: .5rem; }

.video-previews-container h2 {
  width: 100%;
  margin: 1rem; }
.video-previews-container .video-preview {
  margin: 1rem auto;
  display: block;
  border: 2px solid black;
  text-align: center;
  padding-bottom: 1rem; }

#big-form {
  width: 100%;
  justify-content: space-around;
  border: none;
  margin: 0; }
  #big-form div fieldset {
    width: 500px;
    height: fit-content;
    border: none;
    background: #2C2F34;
    box-shadow: 4px 4px 4px rbga(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
    padding: 0;
    margin: 0; }
    #big-form div fieldset h2 {
      font-size: 2rem;
      background: #444;
      padding: .5rem 1.5rem;
      margin: 0;
      border-radius: 5px 5px 0 0;
      font-weight: 100; }
    #big-form div fieldset div {
      margin: 1rem auto;
      width: 480px; }
      #big-form div fieldset div label, #big-form div fieldset div p {
        display: inline-block;
        margin: 0 0.5rem 0 0;
        color: #BBB;
        font-weight: 100; }
      #big-form div fieldset div input[type="text"] {
        display: inline; }
      #big-form div fieldset div #desc {
        width: 320px; }
      #big-form div fieldset div iframe {
        width: 480px;
        height: 270px;
        display: block;
        margin: .5rem auto; }
      #big-form div fieldset div p {
        text-align: center;
        width: 100%; }
  #big-form div #create-project {
    margin: 5rem 0; }
    #big-form div #create-project button {
      background: #1D88E3;
      color: white;
      border: none;
      padding: .3rem .7rem;
      margin: .5rem auto;
      display: block;
      transition: background 150ms;
      font-size: 2rem;
      padding: 1rem; }
      #big-form div #create-project button:hover {
        background: #10BC24;
        color: white; }
      #big-form div #create-project button:active {
        background: #31D044; }
  #big-form #main-forms {
    border-radius: 5px;
    min-width: 350px;
    width: 50%;
    position: relative;
    padding-top: 8rem; }
    #big-form #main-forms #slide-maker {
      background: #2C2F34;
      position: absolute;
      top: 0;
      width: 100%;
      border-radius: 5px 5px 0 0;
      justify-content: space-between; }
      #big-form #main-forms #slide-maker h2 {
        font-size: 2rem;
        background: #444;
        padding: .5rem 1.5rem;
        margin: 0;
        border-radius: 5px 5px 0 0;
        font-weight: 100;
        color: white;
        width: 100%; }
      #big-form #main-forms #slide-maker div {
        margin: .5rem; }
        #big-form #main-forms #slide-maker div label {
          display: inline-block;
          margin: 1rem .5rem;
          color: #BBB;
          font-weight: 100; }
        #big-form #main-forms #slide-maker div input {
          font-size: 1.1rem;
          display: inline; }
      #big-form #main-forms #slide-maker button {
        display: block;
        margin: 1rem;
        font-size: 1rem; }
    #big-form #main-forms #slides-container {
      height: 70vh;
      overflow: auto;
      margin: 0; }
      #big-form #main-forms #slides-container .slide {
        margin: 0 0 1rem;
        border-radius: 5px 5px 0 0;
        padding: 0 0 1rem;
        position: relative;
        background: #2C2F34; }
        #big-form #main-forms #slides-container .slide .delete-slide-button {
          background: #D03131;
          color: white;
          border: none;
          padding: .3rem .7rem;
          margin: .5rem auto;
          display: block;
          transition: background 150ms;
          margin: 0 0 0 34rem; }
          #big-form #main-forms #slides-container .slide .delete-slide-button:hover {
            background: #E63434;
            color: white; }
          #big-form #main-forms #slides-container .slide .delete-slide-button:active {
            background: #CE0303; }
        #big-form #main-forms #slides-container .slide .slide-data, #big-form #main-forms #slides-container .slide .sections .section .section-data, #big-form #main-forms #slides-container .slide .section-forms-container .section-form .section-form-data {
          border-radius: 5px 5px 0 0;
          background: #444;
          margin: 0;
          font-weight: 100;
          color: white; }
          #big-form #main-forms #slides-container .slide .slide-data div, #big-form #main-forms #slides-container .slide .sections .section .section-data div, #big-form #main-forms #slides-container .slide .section-forms-container .section-form .section-form-data div {
            display: flex;
            justify-content: flex-start;
            align-items: center; }
            #big-form #main-forms #slides-container .slide .slide-data div label, #big-form #main-forms #slides-container .slide .sections .section .section-data div label, #big-form #main-forms #slides-container .slide .section-forms-container .section-form .section-form-data div label {
              display: inline-block;
              margin: .5rem .5rem;
              font-weight: 100; }
            #big-form #main-forms #slides-container .slide .slide-data div input, #big-form #main-forms #slides-container .slide .sections .section .section-data div input, #big-form #main-forms #slides-container .slide .section-forms-container .section-form .section-form-data div input {
              font-size: 1.1rem;
              display: inline; }
            #big-form #main-forms #slides-container .slide .slide-data div .title, #big-form #main-forms #slides-container .slide .sections .section .section-data div .title, #big-form #main-forms #slides-container .slide .section-forms-container .section-form .section-form-data div .title {
              width: 22rem; }
            #big-form #main-forms #slides-container .slide .slide-data div button, #big-form #main-forms #slides-container .slide .sections .section .section-data div button, #big-form #main-forms #slides-container .slide .section-forms-container .section-form .section-form-data div button {
              display: inline-block;
              margin: 0 1rem; }
        #big-form #main-forms #slides-container .slide .section-forms-container {
          margin: 1rem 0;
          padding: .5rem 0; }
          #big-form #main-forms #slides-container .slide .section-forms-container h2 {
            margin: 1rem; }
          #big-form #main-forms #slides-container .slide .section-forms-container .section-form {
            background: #CCC;
            border-radius: 6px 6px 0 0;
            padding: 0 0 .25rem;
            margin: 1rem auto;
            width: 90%; }
            #big-form #main-forms #slides-container .slide .section-forms-container .section-form .section-form-data {
              justify-content: space-between;
              padding: 0; }
              #big-form #main-forms #slides-container .slide .section-forms-container .section-form .section-form-data .section-form-inputs {
                margin: 0;
                padding: 0; }
                #big-form #main-forms #slides-container .slide .section-forms-container .section-form .section-form-data .section-form-inputs div {
                  margin: 0;
                  padding: 0;
                  width: 100%; }
            #big-form #main-forms #slides-container .slide .section-forms-container .section-form textarea {
              width: 80%;
              display: block;
              margin: 0 auto; }
            #big-form #main-forms #slides-container .slide .section-forms-container .section-form .kind-inputs {
              padding-top: 1rem; }
              #big-form #main-forms #slides-container .slide .section-forms-container .section-form .kind-inputs label, #big-form #main-forms #slides-container .slide .section-forms-container .section-form .kind-inputs input {
                margin: .25rem 1rem; }
            #big-form #main-forms #slides-container .slide .section-forms-container .section-form .delete-section-btn {
              background: #D03131;
              color: white;
              border: none;
              padding: .3rem .7rem;
              margin: .5rem auto;
              display: block;
              transition: background 150ms;
              margin: .5rem 0 .5rem 27rem; }
              #big-form #main-forms #slides-container .slide .section-forms-container .section-form .delete-section-btn:hover {
                background: #E63434;
                color: white; }
              #big-form #main-forms #slides-container .slide .section-forms-container .section-form .delete-section-btn:active {
                background: #CE0303; }

/*# sourceMappingURL=App.css.map */
