$bor: 2px solid black;

%basic-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



%basic-button {
  background: #4d94ff;
  color: white;
  border: none;
  padding: .3rem .7rem;
  margin: .5rem auto;
  display: block;
  transition: background 150ms;
  &:hover {
    background: #1D88E3;
  }
  &:active {
    background: #6EB0E8;
  }
}

@mixin basic-button($font-color, $font-hover, $main, $hover, $active) {
  background: $main;
  color: $font-color;
  border: none;
  padding: .3rem .7rem;
  margin: .5rem auto;
  display: block;
  transition: background 150ms;
  &:hover {
    background: $hover;
    color: $font-hover;
  }
  &:active {
    background: $active;
  }
}

%basic-form {
  width: 50%;
  min-width: 360px;
  border: $bor;
  margin: 1rem auto;
  label {
    display: block;
    margin-top: 1rem;
  }
  input {
    
  }
  button {
    @extend %basic-button;
  }
}
%basic-link {
  width: 100%;
  text-align: center;
  display: block;
  transition: color 150ms;
  &:link {
    color: #5CA6E5;
  }
  &:visited {
    color: #5CA6E5;
  }
  &:hover {
    color: #FFBA21;
  }
  &:active {
    color: #FFEF33;
  }
}

%basic-card {
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  z-index: 10;
  display: block;
  margin: 1.5rem auto;
  padding: 1rem;
  width: 20rem;
  font-size: 2rem;
  background: white;
  text-align: center;
}

%card-animation {
  color: #5CA6E5;
  transform: scale(1);
  text-decoration: none;
  transition: all 500ms;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
  &:hover {
    box-shadow: 0px 0px 15px rgba(0,0,0,.4);
    color: #FFBA21;
    transform: scale(1.01);
  }
}

html, body {
  margin: 0;
  padding: 2rem 0 0 0;
  background: #141518;
  position: relative;
}

nav {
  background: #3576D4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  a {
    text-decoration: none;
    width: 100px;
    padding: 12px;
    background: #111;
    textDecoration: none;
    color: white;
    text-align: center;
    width: auto;
    transition: background 150ms;
    &:visited {
      background: #3576D4;
    }
    &:hover {
      background: #3C8CFF;
    }
    &:active {
      background: #89B9FF;
    }
    &:last-child {
      margin-right: 1rem;
    }
  }
  #nav-logo {
    margin-top: 0;
    margin-right: auto; 
  }
}

img {
  height: 10rem;
}
.slide {
  background: #555;
  padding: .5rem;
  margin: 1rem;
  .slide-data {
    background: #4d94ff;
    color: white;
    padding: .5rem;
    h2 {
      margin: 0;
    }
  }
  .sections {
    margin: 1rem 0;
    padding: .5rem 0;
    background: #AAA;
    h2 {
      margin: 1rem;
    }
    .section {
      background: #CCC;
      padding: .5rem;
      margin: 1rem auto;
      width: 90%; 
      .section-data {
        @extend .slide-data
      }
      textarea {
        width: 80%;
        display: block;
        margin: 0 auto;
      }
      .code-snippet {
        @extend %code-snippet;
      }
    }
  }
}
%code-snippet {
  color: lightgreen;
  background: black;
  width: 80%;
  height: 20rem;
  margin: 1rem auto;
  display: block;
}

.slide-show {
  margin: 1rem auto;
  border: $bor;
  width: 50%;
  h2 {
    color: #777;
    margin:1rem ;
  }
  p {
    text-align: center;
  }
  pre {
    @extend %code-snippet;
    height: auto;
    padding: 1rem;
  }
  a {
    display: block;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }
  figure {
    width: 95%;
    display: block;
    margin: 1rem auto;
    padding: .5rem;
    img {
      display: block;
      margin: 0 auto;
      height: 100%;
      max-height: 15rem;
    }
    figcaption {
      color: #111;
      text-align: center;
      margin-top: .5rem;
    }
  }
}

.video-previews-container {
  @extend %basic-flex;
  h2 {
    width: 100%;
    margin: 1rem;
  }
  .video-preview {
    margin: 1rem auto;
    display: block;
    border: 2px solid black;
    text-align: center;
    padding-bottom: 1rem;
  }
}


#big-form {
  width: 100%;
  @extend %basic-flex;
  @extend %basic-form;
  justify-content: space-around;
  border: none;
  margin: 0;
  div {
    fieldset {
      width: 500px;
      height: fit-content;
      @extend %basic-flex;
      border: none;
      background: #2C2F34;
      box-shadow: 4px 4px 4px rbga(0,0,0,.5);
      color: white;
      border-radius: 5px;
      padding: 0;
      margin: 1rem 0;
      h2 {
        font-size: 2rem;
        background: #444;
        padding: .5rem 1.5rem;
        margin: 0;
        border-radius: 5px 5px 0 0;
        font-weight: 100;
      }
      div {
        margin: 1rem auto;
        width: 480px;
        label, p {
          display: inline-block;
          margin: 0 .5rem 0 0 ;
           color: #BBB;
        }
        input[type="text"] {
          display: inline;
        }
        #desc {
          width: 320px;
        }
        iframe {
          width: 480px;
          height: 270px;
          display: block;
          margin: .5rem auto;
        }
        p {
          text-align: center;
          width: 100%;
        }
      }
    }
    #create-project {
      margin: 5rem 0;
      button {
        @include basic-button(white, white, #1D88E3, #10BC24, #31D044);
        font-size: 1.5rem;
      }
    }
  }
  #main-forms {
    background: #2C2F34;
    border-radius: 5px;
    min-width: 350px;
    width: 50%;
    height: 83vh;
    overflow: auto;
  }

  
}
