$bor: 2px solid black;

%basic-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



%basic-button {
  background: #4d94ff;
  color: white;
  border: none;
  padding: .3rem .7rem;
  margin: .5rem auto;
  display: block;
  transition: background 150ms;
  &:hover {
    background: #1D88E3;
  }
  &:active {
    background: #6EB0E8;
  }
}

%basic-form {
  width: 50%;
  min-width: 360px;
  border: $bor;
  margin: 1rem auto;
  label {
    display: block;
    margin-top: 1rem;
  }
  input {
    
  }
  button {
    @extend %basic-button;
  }
}
%basic-link {
  width: 100%;
  text-align: center;
  display: block;
  transition: color 150ms;
  &:link {
    color: #5CA6E5;
  }
  &:visited {
    color: #5CA6E5;
  }
  &:hover {
    color: #FFBA21;
  }
  &:active {
    color: #FFEF33;
  }
}

%basic-card {
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  z-index: 10;
  display: block;
  margin: 1.5rem auto;
  padding: 1rem;
  width: 20rem;
  font-size: 2rem;
  background: white;
  text-align: center;
}

%card-animation {
  color: #5CA6E5;
  transform: scale(1);
  text-decoration: none;
  transition: all 500ms;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
  &:hover {
    box-shadow: 0px 0px 15px rgba(0,0,0,.4);
    color: #FFBA21;
    transform: scale(1.01);
  }
}

html, body {
  margin: 0;
  padding: 0;
}

nav {
  background: #0C0032;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  margin: 0;
  a {
    text-decoration: none;
    width: 100px;
    padding: 12px;
    background: #111;
    textDecoration: none;
    color: white;
    text-align: center;
    width: auto;
    transition: background 150ms;
    &:visited {
      background:#0C0032;
    }
    &:hover {
      background: #190061;
    }
    &:active {
      background: #240090;
    }
  }
  #nav-logo {
    margin-right: auto; 
  }
}

form {
  @extend %basic-form;
}

img {
  height: 10rem;
}
.slide {
  margin: 1rem;
   background:#EEE ;
   padding: .1rem;
   border: $bor;
  .slide-data {
    background: #DDD;
    padding: .1rem .5rem;
    margin: 0 0 1rem;
  }
  .section {
    @extend .slide-data;
    textarea {
      display: block;
      width: 80%;
      margin: 1rem auto;
    }
    .code-snippet {
      font-family: monospace;
      color: lightgreen;
      background: black;
      height: 20rem;
    }
  }
}
